# docker-compose.yml
version: '3.3'
services:
  filebot-node:
    container_name: filebot-node
    image: rednoah/filebot:node
    restart: unless-stopped
    volumes:
      - /data/umbrel-os/home/umbrel/umbrel/app-data/mafort-filebot:/data
      - /media/usb:/usb
    ports:
      - 5452:5452